* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	height: 80px;
	width: 100%;
	position: fixed;
	background: #534B62;
	font-family: "Avenir Black";
	font-size: 20pt;
	margin-right: 10px;
	display: block;
}

.body {
	margin: 0;
	background: #1B1725;
	font-family: "Avenir Black";
}

.table-container {
	overflow-x: scroll;
	overflow-y: scroll;
}

.styled-table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}

.styled-table th,
.styled-table td {
	border: transparent;
	padding: 8px;
	text-align: center;
}

.styled-table th {
	background-color: #534B62;
	color: #fcfcfc;
	font-weight: bold;
	cursor: pointer;
}

.styled-table tr {
	background-color: #fcfcfc;
	color: black;
	font-weight: normal;
    font-family: "Avenir";
}

.styled-table tr:nth-child(even) {
	background-color: #e9e2ea;
	color: #000000;
	font-weight: normal;
}

.styled-table tr:hover {
	background-color: #000000;
	color: #fcfcfc;
	font-weight: normal;
}

.styled-table .th-sort-asc::after {
	content: "\25b4";
}

.styled-table .th-sort-desc::after {
	content: "\25be";
}

.styled-table .th-sort-asc::after,
.styled-table .th-sort-desc::after {
	margin-left: 5px;
}

.styled-table .th-sort-asc,
.styled-table .th-sort-desc {
	background: #534B62;
}

.styled-button {
	display: inline-block;
	font-size: 16px;
	background-color: #534B62;
	color: #000000;
	margin: 0px 7px 1rem 7px;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	font-family: "Avenir Black";
	border-radius: 15px;
	z-index: 100;
	top: 1rem;
	right: 1rem;
	position: fixed;
}

.styled-button:hover {
	background-color: #534B62;
	color: #000000;
}

.styled-button-2 {
	display: inline-block;
	font-size: 16px;
	background-color: #534B62;
	color: #000000;
	margin: 0px 7px 1rem 7px;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	font-family: "Avenir Black";
	border-radius: 15px;
	z-index: 100;
	top: 1rem;
	right: 8.5rem;
	position: fixed;
}

.styled-button-2:hover {
	background-color: #534B62;
	color: #000000;
}

.free-trial-button {
	position: fixed;
	z-index: 100;
	top: 1rem;
	right: 1rem;
	cursor: pointer;
	font-family: "Avenir Black";
	display: inline-block;
	font-size: 16px;
	background-color: #1B1725;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 15px;
}

.hamburger {
	position: fixed;
	z-index: 100;
	top: 1rem;
	left: 1rem;
	cursor: pointer;
	font-family: "Avenir Black";
	display: inline-block;
	font-size: 16px;
	background-color: #1B1725;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 15px;
}

.hamburger i {
	font-family: "Avenir Black";
}

.closeIcon {
	display: none;
}

.menu {
	position: fixed;
	transform: translateY(-100%);
	transition: transform 0.2s;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background: #D0BCD5;
	list-style: none;
	padding-top: 4rem;
	padding-left: 1rem;
	font-family: "Avenir Black";
}

.showMenu {
	transform: translateY(0);
}

.nflText {
	padding: 150px 120px 50px 120px;
	color: #D0BCD5;
	font-size: 40pt;
	text-align: center;
}

.searchText {
	padding-left: 1rem;
}

#typeFilter {
    flex: 1;
    text-align: left;
    padding: 10px;
    font-size: 16px;
    border: transparent;
    font-family: "Avenir";
    border-radius: 10px;
}

.filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute space evenly */
    margin: 50px 10px 50px 10px;
    width: 100%;
}

#filterDropdown,
#filterTypeDropdown {
    flex: 0 0 auto;
    padding: 10px;
    font-size: 16px;
    border: transparent;
    font-family: "Avenir";
    border-radius: 10px;
    margin-left: 10px;
}

.PickSmartLogo {
	width: 81.0x;
	height: 78.8px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
}

.Slogan {
	padding: 300px 120px 0px 120px;
	color: #D0BCD5;
	font-size: 40pt;
	text-align: center;
}

.home-buttons {
	text-align: center;
	padding: 6px;
}
  

.htu-button {
	background-color: #BABABA;
}

.launch-button {
	background-color: #534B62;
	color: white;
}

.main-container {
    display: flex;
    align-items: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 10px; /* Adjust the padding to your preference */
    min-width: 60%; /* Adjust the min-width as needed */
	max-width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 100px); /* Adjust width as needed */
    grid-template-rows: repeat(3, 100px); /* Adjust height as needed */
    gap: 10px; /* Adjust gap between squares */
    padding: 10px; /* Add padding around the grid */
	min-width: 50%;
}

.grid-item-1 {
    background-color: #226CE0; /* Example background color */
    display: flex;
    align-items: center;
    justify-content: center;
	border-radius: 10px;
	width: 100px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
}

.grid-item-2 {
	background-color: #D0BCD5; /* Example background color */
    display: flex;
    align-items: center;
    justify-content: center;
	border-radius: 10px;
	width: 100px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
}

.home-buttons a {
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 20px;
	margin-bottom: 200px;
	margin-top: 30px;
	font-family: "Avenir";
	border-radius: 10px;
}


.high {
    background-color: #79C99E;
}

.avg {
    background-color: rgba(255, 221, 0, 0.744);
}

.low {
    background-color: #D7907B;
}


html {
    height: 100%;
}