<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>PickSmart</title>
    <link rel="icon" type="image/x-icon" href="/static/ImageLogo3.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6770684726505484"
     crossorigin="anonymous"></script>
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XLXR2M2Q2F"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XLXR2M2Q2F');
</script>

<body class="body">

    <header>
        <ul class="menu">
            <li><a class="menuItem" href="/">Home</a></li>
            <li><a class="menuItem" href="/picks">Picks</a></li>
          </ul>
          <button class="hamburger">
            <i class="menuIcon material-icons">Menu</i>
            <i class="closeIcon material-icons">Close</i>
          </button>
        <img src="/static/PickSmart Logo5.png" class="PickSmartLogo" alt="PickSmartLogo"/>
    </header>
    <div class="main-container">
        <div class="flex-container">
            <p class="Slogan">
                Make smarter picks with PickSmart.
            </p>
            <div class="home-buttons">
                <a href="/picks" class="launch-button">
                    Launch Table
                </a>
            </div>
        </div>
        <div class="grid-container">
            <div class="grid-item-1"></div>
            <div class="grid-item-2"></div>
            <div class="grid-item-1"></div>
            <div class="grid-item-2"></div>
            <div class="grid-item-1"></div>
            <div class="grid-item-2"></div>
            <div class="grid-item-1"></div>
            <div class="grid-item-2"></div>
            <div class="grid-item-1"></div>
        </div>        
    </div>     
</body>
</html>
